nav {
  display: flex;
  background-color: #444;
  height: 8vh;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: whitesmoke;
  font-size: 24px;
  font-family: monospace;
}

nav a:hover {
  text-decoration: none;
  color: yellow;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8vh;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #444;
  border-radius: 4px;
  width: 24vw;
  margin-bottom: 100px;
}

.card-top {
  display: flex;
  justify-content: center;
}

.card-top img {
  width: 12vw;
  height: auto;
}

.card-title {
  display: flex;
  justify-content: space-between;
}
