<section>
  {{#each beers}}
    <p>{{this}}</p>
    <div style='border: 2px solid blue'>
      <img src='{{image_url}}' alt='beer' />
      <h2>{{name}}</h2>
      <p>{{description}}</p>

    </div>

  {{/each}}

</section>